<div>
    <h1>
        {{article.title}}
    </h1>

    <a href="{% url 'article:index' %}">
        글 목록으로 돌아가기
    </a>

    <div>
        <h3>
            작성자 {{article.author.username}}
        </h3>
        <div>
            {% if user.is_authenticated and user == article.author %}
                <a href="{% url 'article:edit' article.id %}">
                    글 수정하기
                </a>
                            
                <a href="{% url 'article:delete' article.id %}">
                    글 삭제하기
                </a>
            {% endif %}
        </div>

        <hr>

        <p>
            {{article.content}}
        </p>
    </div>

    <hr>

    <div>
        <h1>댓글</h1>
        {% for comment in comments %}
        <div>
            <h3>작성자 {{comment.author.username}}</h3>
            <p>
                {{comment.content}}
            </p>
        </div>
        {% endfor %}

        <form action="{% url 'article:create_comment' article.id %}" method="POST">
            {% csrf_token %}
            <label>
                댓글 추가하기:
                <br>
                <textarea name="content" rows="10" cols="30"></textarea>
            </label>
            <br>
            <input type="submit" value="댓글 작성">
        </form>
    </div>

</div>

